@if(name() !== undefined){
<nav class="flex h-10 justify-between px-10 items-center  ">
    <div class="text-center"> wellcome {{name()}}!</div>

    @if(role() === "admin"){
    <a mat-button [routerLink]="'/admin/users'" routerLinkActive="router-link-active">users</a>
    <a mat-button [routerLink]="'add-user'">add user</a>}
    <button mat-icon-button aria-label="logout" class="" (click)="logOut()">
        <mat-icon>logout</mat-icon>
    </button>
    <button mat-icon-button aria-label="logout" class="" (click)="changeTheme()">
        @if(theme == 'dark'){
        <mat-icon>dark_mode</mat-icon>
        }@else if(theme == "light") {
        <mat-icon>light_mode</mat-icon>
        }
        @else if(theme == "blue"){
        <mat-icon>close</mat-icon>

        }
    </button>
</nav>

}