<section>
    <div>
        <!-- <label for="pass" class="block">pass</label> -->
        <mat-form-field>
            <mat-label>Username or email</mat-label>
            <input matInput placeholder="Placeholder" type="text">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
    </div>
    
    <div>
        <!-- 
        <label for="pass" class="block">pass</label> -->
        <mat-form-field>
            <mat-label>password</mat-label>
            <input matInput placeholder="Placeholder" type="password">
            <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>
    </div>
    
    <button class="w-full text-white">sign in</button>
    <button mat-flat-button color="secondary">login</button>

</section>